body {
    font-family: sans-serif;
    background-color: grey;
    margin-top: 40px;
}

.center {
    text-align: center;
    
}

.text-big {
    font-size: 200%;
    padding-bottom: 50px;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container
{
  max-width: 800px;
  margin: 0 auto;
  color: #544545;
  font-family: san-serif;
  padding-right: 20;
  padding-left: 20;
}

